<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:component-scan base-package="cn.javayong.idgenerator"/>

    <task:scheduler id="scheduler" pool-size="2"/>

    <task:annotation-driven scheduler="scheduler"/>

    <!-- 配置 Redis 连接工厂 -->
    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName" value="localhost"/>
        <property name="port" value="6379"/>
    </bean>

    <!-- 配置 RedisTemplate -->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory"/>
        <property name="keySerializer">
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
        </property>
        <property name="valueSerializer">
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
        </property>
        <!-- 其他可选配置 -->
    </bean>

    <bean id="redisIdGeneratorServiceForSpring"
          class="cn.javayong.idgenerator.server.service.RedisIdGeneratorServiceForSpring">
        <property name="redisTemplate" ref="redisTemplate"/>
    </bean>

    <bean id="idGeneratorGprcImpl" class="cn.javayong.idgenerator.server.grpc.IdGeneratorGprcImpl">
        <property name="redisIdGeneratorServiceForSpring" ref="redisIdGeneratorServiceForSpring"/>
    </bean>

    <bean id="grpcServer" class="cn.javayong.idgenerator.server.grpc.GrpcServer" init-method="start"
          destroy-method="stop">
        <property name="idGeneratorGprc" ref="idGeneratorGprcImpl"/>
    </bean>

    <task:scheduled-tasks scheduler="scheduler">
        <task:scheduled ref="redisIdGeneratorServiceForSpring" method="heartBeat" fixed-rate="30000" />
    </task:scheduled-tasks>

</beans>
